[Unit]
Description=Forwarder Service
After=network.target

[Service]
ExecStart=/usr/bin/forwarder
Restart=on-failure
RestartSec=15
StartLimitInterval=120
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
