[Unit]
Description=Holomotion hostname changer
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/lib/scripts/hostname-renamer.sh

[Install]
WantedBy=multi-user.target
